/* RESETS */
* {
  margin: 0;
}

body {
  font-family: sans-serif;
}


a {
  color: #333;
  text-decoration: none;
  position: relative;
}

/* GLOBAL CLASSES */
/* .top-row h2>span:nth-child(1) {
  backround: red;
} */

/* CUSTOM STYLES */
.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2%;
}


a.active:after, nav a:hover:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  height: 5px;
  background: #333;
}





